{% extends 'admin/adminBase.html.twig' %}
{% block body %}
    <h1>
        {{ title }}
    </h1>
    <a href="{{ path('admin_about') }}" class="">О проекте</a>
    <a href="{{ path('app_logout') }}">Выйти</a>
{% endblock %}